.animated-text {
    display: flex;
    justify-content: center;
    font-size: 5rem; /* Yazı boyutunu ayarlayabilirsin */
    font-weight: bold;
    background-color: #f7f7f7; /* Arka plan rengini belirle */
    color: #333; /* Varsayılan harf rengi */
    height: 30vh; /* Komponentin yüksekliğini ayarla */
    align-items: center; /* Harfleri dikey olarak ortala */
    letter-spacing: 0.3em;
  }
  
  .animated-char {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
  }
  
  
  .animated-char.visible {
    opacity: 1;
    transform: translateY(0);
    color: #333; /* Harflerin görünürken alacağı rengi ayarla */
  }
  @media (min-width: 768px) and (max-width: 992px){
    .animated-text {
        font-size: 3.5rem;
        letter-spacing: 0.3em; /* Harf aralığını küçültme */
      }
  }
  @media (max-width: 768px) {
    .animated-text {
      font-size: 3rem;
      letter-spacing: 0.2em; /* Harf aralığını küçültme */
    }
  }
  
  /* Mobil ekranlar için daha küçük yazı boyutu ve aralığı */
  @media (max-width: 576px) {
    .animated-text {
      font-size: 2rem;
      letter-spacing: 0.15em; /* Harf aralığını daha da küçültme */
    }
  }
  