/* Üst Resim Alanı */
.header-image h1 {
    font-size: 3.5rem; 
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    padding: 10px 20px;
    border-radius: 5px;
  }
  .about-section{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  /* İçerik Alanı */
  .corporate-page p {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.5;
    color: #333;  }
  
  .corporate-page h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333; 
    text-align: center;
  }
  .corporate-page h3{
    font-size: 3rem;
  }
  
  .corporate-page img {
    border-radius: 8px; /* Köşeleri yuvarla */
  }
  
  /* Responsive Tasarım */
  @media (max-width: 768px) {
    .header-image h1 {
      font-size: 2.5rem;
    }
  
    .corporate-page h2 {
      text-align: center;
    }
  
    .corporate-page .col-md-6 {
      margin-bottom: 20px;
    }
  }
  