
.footer_container{
    border-bottom: 4px solid black;
    width: 100%;
    margin: auto;
    margin-top: 75px;
}

  .footer-card-group {
    display: flex;
    gap: 20px; 
    justify-content:space-evenly ; 
    text-align: center;
  }
  .footer-card {
    border: none;
    padding: 4px;
  }
  .footer-card-title{
    margin-top: 10px;
    font-weight: bold;
  }
  .footer-card-text {
    font-size: 20px;
    margin: auto;

  }
  
  .footer-card img {
    max-height: 50px;
    object-fit: contain; 
    width: 100%; 
  }