.carousel-inner img {
  aspect-ratio: 16 / 7; 
  object-fit: cover; 
  max-width: 95%;
  margin: 0 auto;
}

/* CSS Animasyon */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%); /* Aşağıdan başlayacak */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Normal konuma gelecek */
  }
}
.carousel-caption .motto {
  position: absolute;
  bottom: 100%; /* Ekranın altına yakın bir konumdan başlayacak */
  left: 0%;
  transform: translateX(-50%); /* Ortada hizalanacak */
  font-size: 3rem; /* Yazının büyük görünmesi için */
  color: #fff;
  font-weight: bold;
  text-align: left;
  animation: slideUpFadeIn 1s ease forwards;
}

@media only screen and (max-width: 768px) {
  .carousel-caption .motto {
    font-size: 10px !important; /* Küçük ekranlar için daha küçük yazı boyutu */
    bottom: 25%; /* Yazının konumunu ayarlayın */
  }
}
